<link rel="stylesheet" href="../hero-list/hero-list.component.css">
<div class='panel panel-primary'>
    <div class= 'panel-heading'>
        <!-- Data binding, is where we project values from the TS component
        file onto the html view. There are many different forms of data Binding 
    
        the {{}}  is known as interpolation. It evaluates an expression, so you can do
        simple operations like {{5+10}} = 15, or you can refer to variables inside of the TS
        component file. Doing this is known as One-Way Data Binding. This displays the value and also
        immediately shows changes made in the TS file of that value. It cannot be change or manipluated
        from the the html page i.e. data from the ts file shows on the html but data from the html
        does not show on the TS.-->
        <h1>{{pageTitle}}</h1>
    </div>
    <div class= 'panel-body'>
        <div class ='row'>
            <div class='col-md-2'>
                Filter By: 
            </div>
            <div class="col-md-4">
                <!-- The [()] is used to achieve two way data binding, this allows values to be projected both ways,
                from TS to HTML, and HTML to TS 
            
                ngModel is an attribute Directive, when used in [()] in the context of an input field, it will bind the "value" 
                attribute of the input tag to the variable you delcare in the component's TS file-->
                <input type="text" [(ngModel)] ='listFilter'>
                {{attrListFilter}}
            </div>
        </div>
    </div>
    <div class='table-responsive'>
        <table class= 'table-order'>
            <thead><h2>Superhero Information</h2>
                <tr>
                <th>
                    <!-- The () syntax is used for event binding. Event binding ties an HTML element's event to a TS method.-->
                    <button class= 'btn btn-primary' (click)='toggleImage()'>
                    {{showImage? 'Hide':'Show'}}
                </button>
                
                <th>Name:</th>
                <th>Rank:</th>
                <th>Ability:</th>
                <th>Organization:</th>
                </tr>
            </thead>
            <tbody> 
                <!-- Directives, are custom markers on a DOM element (attribute, element name, or CSS)
                that tell Angular to attach specified behavior to the DOM Element, or even transfer that its children
                        -Below is a structural directive, it can alter the entire structure DOM and its elements.
                        -Some common examples of Structural Directives are:
                            -*ngFor, *ngIf, *ngSwitch, *ngDefault, *ngIfElse-->
                <tr *ngFor = 'let temp of filteredSuperHeroes'>
                    <td> 
                        <!-- [] is the syntax for property binding, its a one-way binding where we project values from TS 
                        onto the attributes of an HTML element -->
                        <img *ngIf='showImage' [src] = 'temp.image' width = '300' height = '200'/> 
                    </td>
                    <td>
                        <a [routerLink]="['/profile', temp.name]">{{temp.name}}</a>
                    </td>
                    <td>
                        {{temp.rank}}
                    </td>
                    <td>
                        {{temp.ability}}
                    </td>
                        <!-- Pipes transform the data before it's displayed in interpolation
                        They use the {{target | pipeType}} syntax, there are predefined pipes of uppercase, lowercase, format, currency, etc.-->
                    <td>
                        {{temp.organization | uppercase}}
                    </td>
                </tr>
            </tbody>
        </table>
           
    </div>
</div>